.auth {
    margin: 10px auto 0 auto;
    text-align: center;
    font-size: 18px;
}

p.auth-register {
    margin-bottom: 10px;
    color: grey;
    text-align: center;
    line-height: 1.2em;
}

.g-recaptcha {
    display: table;
    margin: auto;
}

.content-group-lg {
    line-height: 1em;
}

.soc-icons-container {
    display: table;
    margin: 5px auto;
}

.soc-icon {
    width: 65px;
    height: 65px;
    padding: 0 10px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.soc-icon img {
    width: 100%;
}