body {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

.page-container {
    padding: 20px 0;
}

.text-green {
    color: #087fae;
}

.text-red {
    color: #ff7070;
}

h1 span,
.footer .main-logo-container > div span {
    position: relative;
    display: inline-block;
    margin-right: -0.2em;
}

.navbar-inverse {
    background-color: #000635;
    padding: 0;
}

.button {
    min-width: 275px;
    padding: 5px 0 4px 0;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    float: left;
    background-color: #087fae;
}

.button.small {
    min-width: 150px;
}

.line-menu .button.pull-right {
    margin: 0 20px;
}

.line-menu .button.pull-left {
    margin: 0 10px;
}

.button a {
    color: inherit;
}

.button i {
    margin-left: 5px;
}

.soc-net {
    width: 31px;
    height: 31px;
    float: right;
    margin-left: 10px;
}

.soc-net img {
    width: 100%;
}

.navbar-inverse .navbar-logo {
    min-width: 185px;
}

.navbar-right .navbar-nav {
    margin-left: 0;
}

.navbar-right .navbar-nav > li.button {
    margin-top: 12px;
    margin-left: 20px;
}

.button.green {
    background-color: #13a28a;
}

.button.red {
    background-color: #ff7070;
}

.button.gray1 {
    background-color: #7c9bbe;
}

.button.gray2 {
    background-color: #756e85;
}

.navbar-nav > li.button > a {
    padding: 0;
}

.navbar-brand {
    padding: 7px 0;
    margin-left: 0 !important;
    color: gainsboro;
}

.navbar-brand > img {
    height: 35px;
    float: left;
}

.navbar-brand > div {
    float: right;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 9px;
}

.dropdown img {
    height: 25px;
}

.logo-container {
    padding-left: 0;
}

.menu-container {
    padding-right: 0;
    padding-top: 10px;
}

.over-menu {
    width: 100%;
    padding: 15px 10px;
    margin: auto;
    border-bottom: 1px solid black;
}

.line-menu {
    display: table;
    margin: auto;
    font-size: 15px;
    color: #087fae;
}

.line-menu:first-child {
    font-size: 17px;
}

select.type1,
select.type1:focus {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ff7070;
    background: none;
    color: #13a28a;
    outline:none;
}

.main-logo-container {
    display: flex;
    align-items: center;
}

.logo-container .main-logo-container {
    height: 156px;
}

.logo-container .main-logo-container > img {
    width: 100px;
    margin-right: 10px;
}

.logo-container .main-logo-container > h1 {
    font-size: 30px;
    line-height: 1.2em;
}

.navbar-default {
    background: none;
    border: none;
    min-height: 0;
    padding: 0;
}

.navbar-default .navbar-nav {
    display: table;
    float: none;
    margin: auto;
}

.navbar-default .navbar-collapse {
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 15px 10px;
}

a:hover {
    background: none;
    color: #ff7070 !important;
}

a.active {
    color: #ff7070 !important;
}

#main-slider {
    width: 100%;
    height: 550px;
    background: url("../images/slide1.jpg") center center no-repeat;
    background-size: cover;
}



.footer {
    width: 100%;
    padding: 30px 0;
    background-color: #dbe2ea;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
}

.footer .main-logo-container {
    height: 73px;
}

.footer .main-logo-container > img {
    width: 90px;
    margin-right: 10px;
}

.footer .main-logo-container > div {
    font-size: 30px;
}

.footer ul.menu {
    list-style-type: none;
    margin-bottom: 0;
    float: left;
}

.footer ul.menu > li {
    margin-top: 5px;
}

.footer ul.menu > li:first-child {
    margin-top: 0;
}

.footer ul.menu > li > a {
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    letter-spacing: 0.1em;
}

#hooks-logo {
    width: 80px;
    float: left;
}

.footer .copyright {
    width: calc(100% - 100px);
    float: left;
    margin-left: 20px;
    line-height: 1.2em;
    text-transform: uppercase;
}

.footer .copyright > div {
    display: table;
    margin-top: 7px;
}

.footer .copyright .soc-net {
    width: 24px;
    margin-left: 5px;
}

.footer .copyright .soc-net:last-child {
    margin-left: 0;
}

@media screen and (max-width: 1300px) {
    #main-slider {
        height: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        letter-spacing: 0;
    }

    .button {
        min-width: 250px;
        font-size: 14px;
    }

    .button.small {
        min-width: 120px;
    }

    .line-menu .button.pull-right {
        margin: 0 5px;
    }

    .line-menu .button.pull-left {
        margin: 0 5px;
    }

    .soc-net {
        width: 25px;
        margin-left: 5px;
    }

    .footer .main-logo-container > div {
        font-size: 27px;
    }

    .footer .copyright {
        font-size: 12px;
    }

    .footer .copyright .soc-net {
        width: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-inverse .container {
        width: 100%;
    }

    .logo-container .main-logo-container {
        padding-top: 15px;
        justify-content: center;
        height: auto;
    }

    #main-slider {
        height: 300px;
    }
}

@media screen and (max-width: 945px) {
    .navbar-inverse .navbar-logo {
        display: none;
    }

    .navbar-right {
        display: table;
        float: none !important;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .dropdown.language-switch {
        display: table;
        margin: auto;
    }

    .logo-container,
    .menu-container {
        padding: 0;
    }

    .navbar-header {
        padding: 3px 0;
        text-align: center;
    }

    .navbar-toggle {
        width: 100%;
        padding: 3px 0;
        float: none;
        margin: auto;
        background-color: #13a28a;
        color: white;
    }

    .button {
        float: none;
        margin: 0 auto 12px auto !important;
    }

    #main-slider {
        height: 250px;
    }

    .footer .col-xs-12 {
        margin-bottom: 15px;
    }

    #hooks-logo {
        width: 70px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    #main-slider {
        height: 200px;
    }
}

@media screen and (max-width: 500px) {
    .main-logo-container > img {
        width: 50px;
    }

    #main-slider {
        height: 150px;
    }
}

@media screen and (max-width: 360px) {
    .logo-container .main-logo-container > h1,
    .footer .main-logo-container > div {
        font-size: 20px;
    }

    #main-slider {
        height: 120px;
    }
}

@media screen and (max-width: 300px) {
    .navbar-right .navbar-nav > li.button {
        min-width: calc(100% - 5px);
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-right .navbar-nav > li.button a {
        font-size: 12px;
    }

    #main-slider {
        height: 100px;
    }

    .footer .main-logo-container > div {
        font-size: 15px;
    }
}