body {
    font-family: 'Rubik', sans-serif;
    padding: 0;
    margin: 0;
}

.section {
    padding-top: 50px;
    padding-bottom: 50px;
}

.section.gray {
    background-color: #dbe2ea;
}

.section .header {
    width: 100%;
    display: table;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.section .header > div {
    display: table;
}

.section .header > .button {
    float: none;
    border: 2px solid #756e85;
    background: none;
    color: #756e85;
    font-size: 15px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.section .header > .button.red {
    border: 2px solid #ff7070;
    color: #ff7070;
}

.section .header > .button.red:hover {
    color: #ffbdbd;
}

.section .header h1 {
    font-size: 45px;
    line-height: 1.1em;
    color: black;
    text-align: left;
    float: left;
    font-weight: bold;
    margin: 0 25px 0 0;
}

.section .header img {
    height: 90px;
    float: left;
    margin-right: 25px;
}

.section .header img:last-child {
    margin-right: 0;
}

.section .header h1 span {
    color: #087fae;
}

.page-container {
    padding: 20px 0 0 0;
}

.text-green {
    color: #087fae;
}

.text-red {
    color: #ff7070;
}

.image > img {
    width: 100%;
}

.main-logo-container h1 span,
.footer .main-logo-container > div span {
    position: relative;
    display: inline-block;
    margin-right: -0.2em;
}

.navbar-inverse {
    background-color: #000635;
    padding: 0;
}

.button {
    min-width: 275px;
    padding: 5px 0 4px 0;
    border-radius: 12px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    float: left;
    background-color: #087fae;
}

.button.small {
    min-width: 150px;
}

.line-menu .button.pull-right {
    margin: 0 20px;
}

.line-menu .button.pull-left {
    margin: 0 10px;
}

.button a {
    color: inherit;
}

.button i {
    margin-left: 5px;
}

.soc-net {
    width: 31px;
    height: 31px;
    float: right;
    margin-left: 10px;
}

.soc-net img {
    width: 100%;
}

.navbar-inverse .navbar-logo {
    min-width: 185px;
}

.navbar-right .navbar-nav {
    margin-left: 0;
}

.navbar-right .navbar-nav > li.button {
    margin-top: 12px;
    margin-bottom: 12px;
    margin-left: 20px;
}

.button.green {
    background-color: #13a28a;
}

.button.red {
    background-color: #ff7070;
}

.button.gray1 {
    background-color: #7c9bbe;
}

.button.gray2 {
    background-color: #756e85;
}

.navbar-nav > li.button > a {
    padding: 0;
}

.navbar-brand {
    padding: 7px 0;
    margin-left: 0 !important;
    color: gainsboro;
}

.navbar-brand > img {
    height: 35px;
    float: left;
}

.navbar-brand > div {
    float: right;
    font-size: 16px;
    margin-left: 15px;
    padding-top: 9px;
}

.dropdown img {
    height: 25px;
}

.logo-container {
    padding-left: 0;
}

.menu-container {
    padding-right: 0;
    padding-top: 10px;
}

.over-menu {
    width: 100%;
    padding: 15px 10px;
    margin: auto;
    border-bottom: 1px solid black;
}

.line-menu {
    display: table;
    margin: auto;
    font-size: 15px;
    color: #087fae;
}

.line-menu:first-child {
    font-size: 17px;
}

select.type1,
select.type1:focus {
    padding: 5px;
    border: none;
    border-bottom: 1px solid #ff7070;
    background: none;
    color: #13a28a;
    outline: none;
}

select.type2 {
    width: 100%;
    padding: 10px 20px;
    border-radius: 20px;
    font-size: 15px;
    color: #959595;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid #ddebf0;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: url("../images/arrow_down_gray.svg") 100% white no-repeat;
    margin-bottom: 10px;
}

select.type2:focus {
    border: 1px solid #087fae;
    background: url("../images/arrow_down_blue.svg") 100% white no-repeat;
}

p.label {
    margin-bottom: 0;
    padding-left: 15px;
    color: black;
}

.radio-buttons .cir-block {
    width: 100%;
    display: table;
    padding: 5px;
}

.radio-buttons .cir-cell {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.radio-buttons .cir {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.3);
    background-color: white;
    color: #959595;
    cursor: pointer;
}

.radio-buttons.type1 .cir-cell {
    width: 70px;
}

.radio-buttons.type2 {
    width: 50%;
}

.radio-buttons.type2 .cir {
    width: 30px;
    height: 30px;
    padding-top: 5px;
    margin-left: 5px;
}

.radio-buttons .cir:hover,
.radio-buttons .cir.active {
    border: 1px solid #087fae;
    color: #087fae;
}

.radio-buttons .cir i {
    font-size: 30px;
    margin-top: 5px;
    color: #087fae;
}

.radio-buttons .label-block {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
    font-size: 15px;
    line-height: 1.2em;
    color: #959595;
}

.main-logo-container {
    display: flex;
    align-items: center;
}

.logo-container .main-logo-container {
    height: 156px;
}

.logo-container .main-logo-container > img {
    width: 100px;
    margin-right: 10px;
}

.logo-container .main-logo-container > h1 {
    font-size: 30px;
    line-height: 1.2em;
}

.navbar-default {
    background: none;
    border: none;
    min-height: 0;
    padding: 0;
}

.navbar-default .navbar-nav {
    display: table;
    float: none;
    margin: auto;
}

.navbar-default .navbar-collapse {
    margin: 0;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: black;
    font-size: 15px;
    letter-spacing: 0.1em;
    padding: 15px 10px;
}

a:hover {
    background: none;
    color: #ff7070 !important;
}

.button a:hover{
    color: #9cb6d3 !important;
}

a:hover button {
    opacity: 0.8;
}

a.active {
    color: #ff7070 !important;
}

#main-slider {
    width: 100%;
    height: 550px;
    background: url("../images/slide1.jpg") center center no-repeat;
    background-size: cover;
}

.triple-block {
    width: 100%;
    height: 430px;
    padding: 25px 40px;
    border-radius: 40px;
    border: 1px solid;
    font-size: 25px;
    line-height: 1.1em;
    background-color: #eaf4f8;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
}

.triple-block.orange {
    border-color: #f1ac57;
}

.triple-block.green {
    border-color: #13a28a;
}

.triple-block.gray {
    border-color: #7c9bbe;
}

.triple-block button {
    width: 80%;
    height: 80px;
    padding: 20px;
    font-size: 18px;
    text-align: left;
    line-height: 1.2em;
    color: white;
    text-transform: uppercase;
    background-color: #f1ac57;
    border: none;
    border-radius: 20px;
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.triple-block button span {
    float: left;
}

.triple-block button i {
    font-size: 50px;
    float: right;
    min-width: 0;
    top: -5px;
}

.triple-block.orange button {
    background-color: #f1ac57;
}

.triple-block.green button {
    background-color: #13a28a;
}

.triple-block.gray button {
    background-color: #7c9bbe;
}

.banner {
    width: 100%;
    display: table;
}

.container .banner {
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.banner img {
    width: 100%;
}

.news {
    width: 100%;
    display: table;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

.news:last-child {
    margin-top: 10px;
}

.news img {
    width: 100%;
}

.news .grad {
    width: 100%;
    height: 100%;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0.7), rgba(0,0,0,0), rgba(0,0,0,0));
    z-index: 998;
}

.news .text {
    width: calc(100% - 60px);
    position: absolute;
    z-index: 999;
    color: white;
    left: 30px;
    bottom: 25px;
    text-shadow: 1px 1px 1px black;
}

.news .text > .head {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 15px;
    line-height: 1.3em;
}

.news .text > .content {
    font-size: 18px;
}

.col-md-4 .news .text > .head {
    font-size: 18px;
    margin-bottom: 0;
}

.rounded-block {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
}

.rounded-block.gray {
    padding: 30px;
    background-color: #ddebf0;
}

.rounded-block.gray h1 {
    margin-top: 0;
    font-size: 30px;
}

.rounded-block .button {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 20px;
    border-radius: 30px;
    cursor: pointer;
}

.rounded-block .button:hover {
    opacity: 0.8;
}

#map {
    width: 100%;
    height: 571px;
}

.map-point {
    width: 35px;
    height: 35px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50%;
    box-shadow: 0 0 2px rgba(0,0,0,0.8);
    background: url('../images/logo.png') no-repeat white;
    background-size: 100% 100%;
}

.map-point.events {
    border-color: #f1ac57;
}

.map-point.organizations {
    border-color: #13a28a;
}

.map-point.sections {
    border-color: #7c9bbe;
}

.map-point.places {
    border-color: #ff7070;
}

.owl-carousel {
    width: calc(100% - 125px);
    margin: auto;
}

.owl-carousel.calendar {
    width: 100%;
}

.owl-carousel.calendar .owl-nav button {
    height: 30px;
    top: 30px;
}

.owl-carousel.calendar .owl-nav button.owl-prev {
    left: 10px;
}

.owl-carousel.calendar .owl-nav button.owl-next {
    right: 10px;
}

.owl-nav button {
    height: 120px;
    position: absolute;
    top: 50%;
    transform: translateY(-70%);
}

.owl-nav button img {
    height: 100%;
}

.owl-nav button:hover {
    opacity: 0.7;
}

.owl-nav button.owl-prev {
    left: -62px;
}

.owl-nav button.owl-next {
    right: -62px;
}

.owl-dots {
    margin-top: 50px;
    text-align: center;
}

.owl-dots button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black !important;
    margin-left: 10px;
}

.owl-dots button:hover,
.owl-dots button.active {
    background-color: #ff7070 !important
}

.kind-of-sport {
    display: table;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    color: black;
    margin: auto;
}

.kind-of-sport:hover {
    opacity: 0.7;
    color: #ff7070;
}

.kind-of-sport img {
    width: 70%;
    margin-bottom: 20px;
}

.trainer {
    text-align: center;
    font-size: 13px;
}

.trainer .photo {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    margin: 0 auto 15px auto;
    overflow: hidden;
}

.trainer a {
    color: black;
}

.trainer .photo img {
    width: 100%;
}

.trainer .family {
    color: #087fae;
    font-size: 14px;
    margin-bottom: 5px;
}

.trainer .section-name {
    color: #32ae9a;
    font-weight: normal;
    margin-top: 5px;
    font-size: 12px;
    text-transform: uppercase;
}

.support-logo {
    text-align: center;
}

.support-logo img {
    width: 90%;
}

.event {
    margin-bottom: 15px;
}

.event .button {
    min-width: 100%;
    font-weight: bold;
    font-size: 25px;
    float: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-transform: none;
}

.event h3 {
    font-size: 20px;
    color: black;
    text-align: left;
    padding: 10px;
    margin: 0;
    line-height: 1.2em;
}

.event p {
    color: #bba56e;
    font-size: 15px;
    line-height: 1.3em;
    padding: 10px;
}

.event .banner {
    margin-top: 0;
}

.section .event .header {
    margin-bottom: 10px;
}

.section .event .header img {
    height: 50px;
    margin-right: 15px;
}

.section .event .header h2 {
    font-size: 25px;
    float: left;
    text-align: left;
    line-height: 1em;
    margin: 0;
}

.calendar-block {
    width: 100%;
    border-radius: 20px;
    border: 1px solid #756e85;
    overflow: hidden;
}

.calendar-block table {
    width: 100%;
}

.calendar-block table tr:nth-child(even) {
    background-color: #d8dbde;
}

.calendar-block table tr.week {
    background-color: #bab6c2;
}

.calendar-block table tr td {
    text-align: center;
    vertical-align: middle;
    padding: 5px;
    font-size: 15px;
    color: black;
}

.calendar-block table tr td i {
    color: grey;
    font-weight: normal;
    font-size: 15px;
}

.calendar-block table tr td .event-day {
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 50%;
    background-color: #13a28a;
    color: white;
}

.calendar-block table tr td:first-child {
    padding-left: 15px;
}

.calendar-block table tr td:last-child {
    padding-right: 15px;
}

.calendar-block table tr.week td {
    text-transform: uppercase;
    color: white;
}

.calendar-block .month {
    width: 100%;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    color: white;
    background-color: #756e85;
}

.footer {
    width: 100%;
    padding: 30px 0;
    background-color: #dbe2ea;
    position: relative;
    left: auto;
    right: auto;
    bottom: auto;
}

.footer .main-logo-container {
    height: 73px;
}

.footer .main-logo-container > img {
    width: 90px;
    margin-right: 10px;
}

.footer .main-logo-container > div {
    font-size: 30px;
}

.footer ul.menu {
    list-style-type: none;
    margin-bottom: 0;
    float: left;
}

.footer ul.menu > li {
    margin-top: 5px;
}

.footer ul.menu > li:first-child {
    margin-top: 0;
}

.footer ul.menu > li > a {
    text-transform: uppercase;
    color: black;
    font-size: 14px;
    letter-spacing: 0.1em;
}

#hooks-logo {
    width: 80px;
    float: left;
}

.footer .copyright {
    width: calc(100% - 100px);
    float: left;
    margin-left: 20px;
    line-height: 1.2em;
    text-transform: uppercase;
}

.footer .copyright > div {
    display: table;
    margin-top: 7px;
}

.footer .copyright .soc-net {
    width: 24px;
    margin-left: 5px;
}

.footer .copyright .soc-net:last-child {
    margin-left: 0;
}

@media screen and (max-width: 1300px) {
    #main-slider {
        height: 400px;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-default .navbar-nav > li > a {
        font-size: 14px;
        letter-spacing: 0;
    }

    .button {
        min-width: 250px;
        font-size: 14px;
    }

    .button.small {
        min-width: 120px;
    }

    .line-menu .button.pull-right {
        margin: 0 5px;
    }

    .line-menu .button.pull-left {
        margin: 0 5px;
    }

    .soc-net {
        width: 25px;
        margin-left: 5px;
    }

    .news .text {
        bottom: 15px;
    }

    .event .button {
        font-size: 20px;
    }

    .event h3 {
        font-size: 18px;
    }

    .footer .main-logo-container > div {
        font-size: 27px;
    }

    .footer .copyright {
        font-size: 12px;
    }

    .footer .copyright .soc-net {
        width: 20px;
    }
}

@media screen and (max-width: 1024px) {
    .navbar-inverse .container {
        width: 100%;
    }

    .logo-container .main-logo-container {
        padding-top: 15px;
        justify-content: center;
        height: auto;
    }

    #main-slider {
        height: 300px;
    }

    .triple-block {
        font-size: 20px;
        height: 320px;
    }

    .triple-block button {
        font-size: 14px;
    }

    .triple-block button i {
        display: none;
    }

    .section .header {
        width: auto;
        margin-left: auto;
        margin-right: auto;
    }

    .section .header > .button {
        width: 250px;
        display: block;
        position: static;
        transform: none;
        margin: 10px auto 0 auto !important;
    }

    .section .header h1 {
        float: none;
        margin: 0;
        text-align: center;
    }

    .section .header img {
        display: none;
    }

    .col-md-4 .news .text > .head {
        font-size: 30px;
        margin-bottom: 15px;
    }

    .event .button {
        font-size: 16px;
    }

    .event h3 {
        font-size: 15px;
    }

    .event p {
        font-size: 12px;
    }
}

@media screen and (max-width: 945px) {
    .navbar-inverse .navbar-logo {
        display: none;
    }

    .navbar-right {
        display: table;
        float: none !important;
        margin: auto;
    }
}

@media screen and (max-width: 768px) {
    .dropdown.language-switch {
        display: table;
        margin: auto;
    }

    .logo-container,
    .menu-container {
        padding: 0;
    }

    .navbar-header {
        padding: 3px 0;
        text-align: center;
    }

    .navbar-toggle {
        width: 100%;
        padding: 3px 0;
        float: none;
        margin: auto;
        background-color: #13a28a;
        color: white;
    }

    .button {
        float: none;
        margin: 0 auto 12px auto !important;
    }

    #main-slider {
        height: 250px;
    }

    .triple-block {
        font-size: 25px;
        margin-bottom: 20px;
        background-position: right;
        background-size: 60%;
    }

    .triple-block > div {
        width: 50%;
    }

    .triple-block button {
        width: 90%;
        font-size: 18px;
        bottom: 35px;
    }

    .triple-block button i {
        display: block;
    }

    .event .button {
        font-size: 25px;
    }

    .event h3 {
        font-size: 20px;
    }

    .event p {
        font-size: 15px;
    }

    .footer .col-xs-12 {
        margin-bottom: 15px;
    }

    #hooks-logo {
        width: 70px;
        margin-left: 10px;
    }
}

@media screen and (max-width: 600px) {
    #main-slider {
        height: 200px;
    }

    .triple-block button {
        width: 90%;
        padding: 20px 30px;
        border-radius: 95px;
    }

    .news .text > .head,
    .col-md-4 .news .text > .head {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .main-logo-container > img {
        width: 50px;
    }

    #main-slider {
        height: 150px;
    }

    .triple-block {
        font-size: 22px;
        background-size: 70%;
    }

    .triple-block > div {
        width: 65%;
    }

    .triple-block button {
        font-size: 15px;
        height: 73px;
    }

    .triple-block button i {
        top: -8px;
        right: -10px;
    }

    .section .header h1 {
        font-size: 30px;
    }

    .news .text > .head,
    .col-md-4 .news .text > .head {
        font-size: 15px;
    }
}

@media screen and (max-width: 370px) {
    .logo-container .main-logo-container > h1,
    .footer .main-logo-container > div {
        font-size: 20px;
    }

    #main-slider {
        height: 120px;
    }

    .triple-block {
        font-size: 19px;
        background-size: 100%;
    }

    .triple-block button {
        width: 80%;
        height: 55px;
        padding: 10px;
        text-align: center;
    }

    .triple-block button span {
        float: none;
    }

    .triple-block button i {
        display: none;
    }

    .section .header h1 {
        font-size: 25px;
    }

    .news .text > .head,
    .col-md-4 .news .text > .head {
        font-size: 12px;
    }
}

@media screen and (max-width: 320px) {
    .navbar-right .navbar-nav > li.button {
        min-width: calc(100% - 5px);
        padding-left: 10px;
        padding-right: 10px;
    }

    .navbar-right .navbar-nav > li.button a {
        font-size: 12px;
    }

    #main-slider {
        height: 100px;
    }

    .triple-block {
        font-size: 16px;
    }

    .footer .main-logo-container > div {
        font-size: 15px;
    }
}